# Copyright (C) ST-Ericsson SA 2011. All rights reserved.
# This code is ST-Ericsson proprietary and confidential.
# Any use of the code for whatever purpose is subject to
# specific written permission of ST-Ericsson SA.

#CM driver file to copy but not to compile
CMENGINESRC_COPY_NO_BUILD = cm/engine/elf/src/elfxx.c

